.link { 
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: transparent;
  color: #777;
}

.navbar-header {
    float: none;
}

.navbar-toggle {
    display: block;
    float: left;
    margin-left: 15px;
}

.page {
	display: none;
}

.textVideo {
	align-items: center;
	padding-left: 0px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.topVideo {
  padding-bottom: 20px;
}

.embed-responsive-1by1 {
  padding-bottom: 100%;
}

h1 {
	padding-bottom: 20px;
}