<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">

    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button id="collapse" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a href="./index.html" class="navbar-brand">Joshua Greenslade</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav">
        <li><a href="./software_design.html">Software Design/Engineering</a></li>
        <li><a href="./CSCC09.html">Programming on the Web</a></li>
        <li><a href="./CSCC10.html">Human-Computer Interaction</a></li>
        <li><a href="./CSCC24.html">Principles of Programming Languages</a></li>
        <li><a href="./CSCC43.html">Introduction to Databases</a></li>
        <li><a href="./CSCC69.html">Operating Systems</a></li>
        <li><a href="./CSCC85.html">Introduction to Embedded Systems</a></li>
        <li><a href="./CSCD18.html">Computer Graphics</a></li>
        <li><a href="./CSCD27.html">Computer and Network Security</a></li>
      </ul>
    </div>
  </div>
</nav>